<?xml version="1.0"?>
<robot name="ur5e_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Include the arm (UR5 or UR5e -->
     <xacro:include filename="arm.urdf.xacro"/>

    <!-- Adding the gripper + adapter-->
    <xacro:include filename="gripper.urdf.xacro"/>

    <!-- Adding the camera --> 
    <xacro:include filename="camera.xacro"/>

    <!-- *************Gazebo classic and Ignition gazebo if ever needed*********** -->
    <xacro:include filename="gazebo.xacro"/>
</robot>
 