<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Adding the intermediate link between the end effector and the sensor for potentially installing camera adapters -->
    <link name="camera_link">
    </link>
    <joint name="camera_joint" type="fixed">
        <axis xyz="0 0 1"/>
        <origin xyz="-0.15 -0.05 0.015" rpy="0 0 0"/>
        <parent link="tool0"/>
        <child link="camera_link"/>
    </joint>

    <!-- Including the description for the realsense2 camera -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    <!-- Connecting the camera sensor to the camera link -->
    <xacro:sensor_d435 parent="tool0" name="d435" use_nominal_extrinsics="true" add_plug="true" use_mesh="true"> 
        <origin xyz="0.0 -0.06 0.0" rpy="-1.5708 -1.5708 0"/>
    </xacro:sensor_d435>

    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>

        <sensor type="camera" name="camera">
            <update_rate> 30.0 </update_rate>
            <topic> image_raw </topic>
            <pose> 0 0 0   0 -1.5708 1.5708 </pose>
            <camera name="head">
              <image>
                <width> 1280 </width>
                <height> 720 </height>
                <format>R8G8B8</format>
              </image>
              <clip>
                <near> 0.02 </near>
                <far> 5 </far>
              </clip>
              <noise>
                <mean> 0.0 </mean>
                <stddev> 0.01 </stddev>
              </noise>
              <lens>
		<type> gnomolical </type>
		<intrinsics>
                  <fx>912.1078491210938</fx>
                  <fy>911.9324340820312</fy>
                  <cx>641.4862670898438</cx>
                  <cy>354.6959228515625</cy>
                  <s>0</s>	      
		</intrinsics>
              </lens>
            </camera>
            <plugin filename="ignition-gazebo-sensors-system"
                    name="ignition::gazebo::systems::Sensors">
            </plugin>
        </sensor>
    </gazebo>

</robot>
