<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_gripper">
    <!-- Include the macro definitions -->
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
    <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>
    <!-- Instantiating the adapter macro-->
    <xacro:ur_to_robotiq prefix="" connected_to="tool0" rotation="0.0"/> <!-- This is the adapter -->

    <!-- Instantiating the gripper macro-->
    <xacro:robotiq_gripper 
        name="gripper" 
        prefix="robotiq" 
        parent="gripper_mount_link" 
        sim_ignition="true"
        sim_isaac="false"
        use_fake_hardware="$(arg use_fake_hardware)"
        com_port="$(arg com_port)"
        >
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:robotiq_gripper>
</robot>
