<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Including the gripper macro and the adapter-->
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
    <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>
    <!-- Instantiating the gripper macro and the adapter macro-->
    <xacro:ur_to_robotiq prefix="" connected_to="tool0"/> <!-- This is the adapter-->
    <!-- Attach the ur_to_robotiq_link (last link in the adapter urdf) to the gripper urdf-->
    <xacro:robotiq_gripper 
        name="ur5e_gripper" 
        prefix="" 
        parent="gripper_mount_link" 
        sim_ignition="$(arg sim_ignition)"
        sim_isaac="$(arg sim_isaac)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        com_port="$(arg com_port)"
        >
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:robotiq_gripper>
</robot>
